/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ul {
    list-style: none;
}

body {
    line-height:1.5;
    background: #000;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: none!important;
    box-sizing: border-box;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.button1 {
    height: 38px;
    background-color: #e8491d;
    border: none;
    padding: 0 20px;
    font-size: 15px;
    color: #fff;
}

.dark {
    padding: 15px;
    background: #35424A;
    color: #fff;
    margin: 10px 0;
}

/*-------------------------------- Custom Styles Start --------------------------------*/

/* Header Styles*/

.header_top {
    background: #141713;
    min-height: 89px;
}

.header_logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    margin-top: 20px;
    margin-bottom: 28px;
    float: left;
}

.logo > h1 {
    font-size: 2em;
    color: #fff;
}

.logo_cont {
    float: left;
    font-size: 18px;
    font-family: 'Century_Gothic_bold';
    color: #fff;
    margin-left: 38px;
    margin-bottom: 0;
    line-height: normal;
}

.search_bar {
    width: 670px;
    height: 48px;
    background: #171717;
    border: solid #7d7d7d 1px;
    margin: 17px 0 17px;
    border-radius: 10px;
}

.search_bar div {
    float: left;
    width: 100%;
    position: relative;
}

.search_bar div input {
    background: transparent;
    border: 0;
    font-size: 14px;
    padding: 0 65px 0 25px;
    float: left;
    height: 46px;
    width: 100%;
    color: #ccc;
}

.search_bar button {
    float: right;
    padding: 11px 16px;
    background: transparent;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
}


/**********************  Main Section   ***********************************/

#main {
    min-width: 320px;
}

.padding_layout {
    padding: 80px 0 70px;
}

.container {
    width: 100%;
    max-width: 1200px;

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.movie_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.movie_column  {
    width: 25%;
}

.movie_column .full {
    max-width: 220px;
    margin: 0 auto;
}

.full {
    width: 100%;
    margin: 0;
    padding: 0;
}

.movie_info {
    float: left;
    width: 100%;
    background: transparent;
    padding: 6px;
    min-height: auto;
    cursor: pointer;
    transition: ease all .5s;
}

.movie_img {
    position: relative;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 4px;
}

.movie_img img {
    width: 100%;
}
img {
    vertical-align: middle;
}

.movie_detail p {
    text-align: left;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 11px;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    text-overflow: ellipsis;
}

.movie_detail p span.movie_name {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    transition: ease all .5s;
}

.movie_detail p span.movie_year {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #0092cc;
    transition: ease all .5s;
}

.brow-pagination {
    margin-top: 40px;
    text-align: center;
}

.brow-pagination ul {
    margin: 0;
    padding: 0;
}


.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.brow-pagination {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.brow-pagination .btn-common{
    border-radius: 10px;
    background-color: #041f41;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

#page {
    color: #ccc;
    text-align: center;
    margin-top: 20px;
}

.data-not-found{
    color: #e61212;
    display: inline-block;
    margin: auto;
}

/*************** Media Queries ****************/

@media (max-width: 991px) and (min-width: 768px) {
    .movie_column {
        width: calc(100%/3);
    }
   .header_logo {
      flex-direction: column;
    }
    .search_bar {
      width: 90%;
    } 
}

@media (max-width: 767px) {
    .movie_column {
        width: calc(100%/3);
    }   

    .header_logo {
      flex-direction: column;
    }
    .search_bar {
      width: 90%;
    } 
}

@media (max-width: 480px) {
    .movie_column {
        width: 100%;
    }
    .header_logo {
      flex-direction: column;
    }
    .search_bar {
      width: 90%;
    } 
}

/* @media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
} */
